* {
 margin: 0;
 border: 0;
 padding: 0;
}

body {
  color: #000305;
  font-size: 87.5%;
  font-family: Arial, 'Lucida Sans Unicode';
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
}

a{
  text-decoration: none;
}

a:link, a:visited{
  color:#CF5C3F;
}
.wrapper{
  margin: 0 auto;
  padding: 0% 5%;
  min-height: 100%;
  height: auto !important;
  clear: both;
}
#logo {
  width:100%;
  height:auto;
  margin:2% 0% 1% 0%;
  padding: 2% 2%;
  background: #000 url('img/bg_banner.jpg');
  font-size: 40px;
  font-family: Courier, "Lucida Console", monospace;
  font-weight: bolder;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
}
#logo a {
  display: block;
  text-decoration: none;
  color: #333;
}
#logo a:hover{
  text-shadow: 4px 4px 5px red;
}
/*--------------------------------------------
NAVIGATION BAR
--------------------------------------------*/
#navigation{
  background-color: #666;
  height: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  width:100%;
  overflow: hidden;
}
#navLeft, #navRight{
  list-style: none;
  margin: 0 auto;
}
#navLeft li {
  float: left;
  text-decoration: none;
}
#navRight li {
  float: right;
  font: bold 10px Arial;
}

#navLeft a:link, #navLeft a:visited {
  color:#FFF;
  padding:10px 20px;
  display:inline-block;
  height:40px;
}
#navRight a:link, #navRight a:visited {
  color:#FFF;
  padding:13px 13px;
  margin-right: 10px;
  display:inline-block;
  height:40px;
}
#navLeft a:hover, #navLeft a:active, #navLeft .active a:link, #navLeft .active a:visited {
  background-color: #CF5C3F;
  text-shadow:none;
}
#navLeft li a {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/*--------------------------------------------
BLOG POSTS
--------------------------------------------*/
#main-content{
  float: left;
  width:70%;
}
.blog-content{
  background-color: #C0E2ED;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  line-height: 25px;
  padding: 3% 5%;
  margin: 10px 0px 20px 0px;
  line-height: 2;
}
.blog-header{
  font: bold 20px Arial;
  color:#CF5C3F;
}
.post-info{
  font-style:italic;
  color:#888;
  font-size:90%;
}
#share-footer{
  font: bold 12px Arial;
  float: left;
  width:100%;
  height: 55px;
  overflow: hidden;
  padding-top: 1%;
  border-top: 1px dotted black;
}
#share-footer span{
  float:left;
  padding-top: 4px;
}
.share-buttons li{
  list-style: none;
  display: inline;
  padding: 0 1%;
  margin-left: 8px;
  float:left;
}
 img, #facebook img, #twitter img{
  width: 26px;
  height: auto;
}
.blog-content:hover, .top-sidebar:hover, .middle-sidebar:hover, .bottom-sidebar:hover{
  box-shadow: -1px -0px 4px teal;
}
/*--------------------------------------------
SIDEBARS
--------------------------------------------*/
#sidebar1{
  display: block;
  float:left;
  width: 30%;
}
.top-sidebar, .middle-sidebar, .bottom-sidebar{
  background-color: #C0E2ED;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  line-height: 25px;
  padding: 3% 5%;
  margin: 10px 0px 10px 10px;
}
/*--------------------------------------------
PAGE FOOTER
--------------------------------------------*/
.mainFooter {
  width: 100%;
  height: 40px;
  float: left;
  background-color: #666;
  margin: 1% 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.mainFooter p{
  margin:10px;
  color: #FFF;
}

/*------------------------------------------------------
Responsivness, activated when screensize changes, mobile
-------------------------------------------------------*/
@media only screen and (min-width:150px) and (max-width:600px)
{
  #logo {
    background: #000 url('img/bg_banner_2.png');
  }
  #navigation{
    height: 200px;
  }
  #navLeft, #navRight{
    padding: 0;
  }
  #navLeft li {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #navRight li {
    width: 100%;
    text-align: center;
  }
  #navLeft a:hover, #navLeft a:active, #navLeft .active a:link, #navLeft .active a:visited {
    display: block;
  }
  #main-content{
    width:100%;
  }
  #sidebar1{
    width: 100%;
  }
  .top-sidebar, .middle-sidebar, .bottom-sidebar{
    margin-left: 0;
  }
}
